@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

.box {
	border: 1px solid #ccc;
	overflow: hidden; /* Para que el contenido no se desborde al redimensionar */
	position: relative;
}

/* Estilo del control de redimensionamiento */
.react-resizable-handle {
	position: absolute;
	top: 0;
	right: -5px; /* Ajusta la posición del control de redimensionamiento */
	width: 10px; /* Ancho del control de redimensionamiento */
	height: 100%;
	cursor: col-resize; /* Cursor de redimensionamiento horizontal */
	background-color: #999; /* Color del control de redimensionamiento */
}
